<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm" >
  <!-- Title in top right -->
  <a class="navbar-brand" href="#">Movie Diary</a>
  <div class="navBar elements">
    <ul class="navbar-nav mr-auto">
      <!-- buttons for each page of the app -->
      <li class="nav-item"><a class="nav-link" href="/">All Movies<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/create">Add Movie</a></li>
      <li class="nav-item"><a class="nav-link" href="/uncomplete">Unwatched Movies</a></li>
      {% if x.completed == False %}
      <li class="nav-item"><a class="nav-link" href="/user/add">Add User</a></li>
      <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
      {% endif %}
      {% if x.completed %}
      <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
      <li class="nav-item"><a class="nav-link" href="/user/settings">User Settings</a></li>
      {% endif %}

    </ul>
  </div>
</nav>
{% block content %}
{% if darkMd == 'dark' %}
<body style="background-color:powderblue;">
{% endif %}
<div class="row">
  <!-- centres it -->
  <div class="col-4"></div>
    <div class="col-5">
<h1>Add User</h1>

<!-- using the AssessmentForm -->
<!-- this page accepts users input for details to create a new assessment in the database -->
<form action="" method="post" name="add_user">
    {{ form.hidden_tag() }}
    <p1>Username:</p1>
    {{ form.username(class_='form-control') }}
    {% for error in form.username.errors %}
    <div class="alert alert-danger" role="alert">
      [{{ error }}]
    </div>
    {% endfor %}
    <p1>Password:</p1>
    {{ form.password(class_='form-control') }}
    {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
      [{{ error }}]
    </div>
    {% endfor %}
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>
</div>
</div>
</div>
{% endblock %}
