<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <!-- Bootstrap cascading style sheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  </head>
  <body>
    <!-- navBar header -->
    <nav class="navbar navbar-expand-sm" >
      <!-- Title in top right -->
      <a class="navbar-brand" href="#">Movie Diary</a>
      <div class="navBar elements">
        <ul class="navbar-nav mr-auto">
          <!-- buttons for each page of the app -->
          <li class="nav-item"><a class="nav-link" href="/">All Movies<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/create">Add Movie</a></li>
          <li class="nav-item"><a class="nav-link" href="/uncomplete">Unfinished Movies</a></li>
          <li class="nav-item"><a class="nav-link" href="/user/add">Add User</a></li>
          <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="assessment-info">
      <div class="row">
        <!-- centres it -->
        <div class="col-4"></div>
          <div class="col-5">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
  </body>
</html>
