<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm" >
  <!-- Title in top right -->
  <a class="navbar-brand" href="#">Movie Diary</a>
  <div class="navBar elements">
    <ul class="navbar-nav mr-auto">
      <!-- buttons for each page of the app -->
      <li class="nav-item"><a class="nav-link" href="/">All Movies<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/create">Add Movie</a></li>
      <li class="nav-item"><a class="nav-link" href="/uncomplete">Unfinished Movies</a></li>
      <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
      <li class="nav-item"><a class="nav-link" href="/user/settings">User Settings</a></li>

    </ul>
  </div>
</nav>
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<h1>Blue theme has been toggled</h1>
{% endblock %}
