<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function() {
window.cookieconsent.initialise({
"palette": {
"popup" : {
"background": "#5aa0d6",
"text": "#5c7291"
},
"button": {
"background": "#56cbdb",
"text": "#ffffff"
}
},
"content": {
"message": "We use cookies to improve your experience.",
"dismiss": "Dismiss"
}
})});
</script>
<nav class="navbar navbar-expand-sm" >
  <!-- Title in top right -->
  <a class="navbar-brand" href="#">Movie Diary</a>
  <div class="navBar elements">
    <ul class="navbar-nav mr-auto">
      <!-- buttons for each page of the app -->
      <li class="nav-item"><a class="nav-link" href="/">All Movies<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/create">Add Movie</a></li>
      <li class="nav-item"><a class="nav-link" href="/uncomplete">Unwatched Movies</a></li>
      {% if x.completed == False %}
      <li class="nav-item"><a class="nav-link" href="/user/add">Add User</a></li>
      <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
      {% endif %}
      {% if x.completed %}
      <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
      <li class="nav-item"><a class="nav-link" href="/user/settings">User Settings</a></li>
      {% endif %}

    </ul>
  </div>
</nav>

{% block content %}
{% if darkMd == 'dark' %}
<body style="background-color:powderblue;">
{% endif %}
<div class="row">
  <!-- centres it -->
  <div class="col-4"></div>
    <div class="col-5">
{% if x.completed == False %}
<h1>All Movies</h1>
{% endif %}
{% if x.completed %}
<h1>{{x.username}}'s movies:</h1>
{% endif %}
<!-- Displays every assessment stored in the db, completed or not -->
{%for p in home.description%}
  <div id="textbox" style="width:400px; height:200px;" white-space=initial>
  <h4>{{p.title}}</h4>
  <p1>Release Date: {{p.start_date}}</p1>
  <br />
  <p1>Director: {{p.moduleCode}}</p1>
  <br />
  <p1>{{p.descriptionCol}}</p1>
  <br />
  <!-- if completed it says so, otherwise says uncomplete -->
  {% if p.completed %}
    <p1>Status: Seen</p1>
  {% else %}
    <p1>Status: Not Seen</p1>
  {% endif %}
  <hr />
  </div>
{% endfor %}
{% endblock %}
</div>
</div>
</div>
