<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<nav class="navbar navbar-expand-sm" >
  <!-- Title in top right -->
  <a class="navbar-brand" href="#">Movie Diary</a>
  <div class="navBar elements">
    <ul class="navbar-nav mr-auto">
      <!-- buttons for each page of the app -->
      <li class="nav-item"><a class="nav-link" href="/">All Movies<span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="/create">Add Movie</a></li>
      <li class="nav-item"><a class="nav-link" href="/uncomplete">Unwatched Movies</a></li>
      {% if x.completed == False %}
      <li class="nav-item"><a class="nav-link" href="/user/add">Add User</a></li>
      <li class="nav-item"><a class="nav-link" href="/user/login">Login</a></li>
      {% endif %}
      {% if x.completed %}
      <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
      <li class="nav-item"><a class="nav-link" href="/user/settings">User Settings</a></li>
      {% endif %}

    </ul>
  </div>
</nav>
{% block content %}
{% if darkMd == 'dark' %}
<body style="background-color:powderblue;">
{% endif %}
<div class="row">
  <!-- centres it -->
  <div class="col-4"></div>
    <div class="col-5">
<h1>Unwatched Movies</h1>

<!-- using the AssessmentForm -->
<!-- this page accepts users input for details to Uncomplete a new assessment in the database -->
{%for p in uncomplete.description%}
<!-- only outputs assessments which arent marked as completed -->
  {%if p.completed %}
  {%else%}
    <h4>{{p.title}}</h4>
      <br />
      <p1>Release Date: {{p.start_date}}</p1>
      <br />
      <p1>Director: {{p.moduleCode}}</p1>
      <br />
      <p1>{{p.descriptionCol}}</p1>
      <br />
      <!-- A hidden form holds the ID of the assessment its output with -->
      <form action="" method="post" name="uncomplete">
          {{ form.hidden_tag() }}
          <!-- Id is set -->
          {{ form.idHolder(value=p.id,hidden=True)}}
          {% for error in form.idHolder.errors %}
           <div class="alert alert-danger w-100" role="alert">
              [{{ error }}]
           </div>
          {% endfor %}
          <!-- will return ID to python to mark as complete -->
          <p><input type="submit" class="btn btn-primary" value="Set as Seen"></p>
      </form>
    <hr />
  {% endif %}
{% endfor %}
</div>
</div>
</div>
{% endblock %}
